<div class="container">
  <div class="row">
    <div class="offset-3"></div>
      <div class="col-md-6">
        <form name="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="fname">First Name </label>
            <input type="text"  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                   formControlName="firstName"
                   class="form-control"
                   placeholder="First Name">
                   <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name </label>       
            <input type="text"  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                   class="form-control" formControlName="lastName"
                    placeholder="Last Name">
                   <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
          </div>
          <div>
          <div class="form-group">
            <label for="email">Email </label>       
            <input type="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  formControlName="email" class="form-control"
                   class="form-control"
                   placeholder="Enter Your Email Id" > 
                  <!-- <div *ngIf="submitted && e.email.errors" class="invalid-feedback">
                    <div *ngIf="e.email.errors.required">Email is required</div>
                    <div *ngIf="e.email.errors.email">Email must be a valid email address</div>
                </div>     -->
          </div>
          </div>
          <div [formGroup]="passwordFormGroup">
          <div class="form-group">
            <label for="password">Password </label>       
            <input type="password" 
                   formControlName="password" [ngClass]="{ 'is-invalid': submitted && p.password.errors }" 
                   class="form-control"
                   placeholder="Enter password" >
                   <div *ngIf="submitted && p.password.errors" class="invalid-feedback">
                     <div *ngIf="p.password.errors.required">Password is required</div>
                     <div *ngIf="p.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
          </div>
          <div class="form-group">
            <label for="cpassword">Confirm Password </label>       
            <input type="password" 
                   formControlName="cpassword" [ngClass]="{ 'is-invalid': submitted && p.cpassword.errors }" 
                   class="form-control"
                   placeholder="Confirm Password">    
                   <div *ngIf="submitted && p.cpassword.errors" class="invalid-feedback">
                    <div *ngIf="p.cpassword.errors.required">Confirm Password is required</div>              
                   </div>                    
                    <div *ngIf="passwordFormGroup.errors?.doesMatchPassword" style="color: #dc3545;font-size: 80%">Confirm Password is doesn't match with Password</div>
                         
          </div>
          </div>
          <div>
           <button type="submit"  class="btn btn-primary" [disabled]="buttonDisable">Sign-Up</button> 
          </div>
        </form>
        <p *ngIf="responseData" style="color: green; font-weight: bold">{{responseData}}</p>
      </div>
  </div>
</div>